.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-dark-lighter;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6.6rem;

    &--text {
        font-size: 1.8rem;
        font-weight: 300;
        color: $color-gray;
        display: flex;
        align-items: center;

        &::after,
        &::before {
            margin: 1.5rem;
            content: "";
            width: 5rem;
            height: 1px;
            display: block;
            background-color: $color-gray;
        }
    }
}
